@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --bg: black; 
}

button {
  font-family: 'Montserrat', sans-serif;
  --glass-bg: color-mix(in oklab, var(--bg) 20%, transparent);
  --glass-border: color-mix(in oklab, white 30%, transparent);
}

html {
  background: url(https://i.imgur.com/C127qo6.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  min-height: 100vh;
}